.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.auth-card {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.auth-title {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
}

.auth-input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.auth-button {
    background-color: #2575fc;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

.auth-button:hover {
    background-color: #365dc7;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.remember-me input {
    margin-right: 0.5rem;
}

.google-login {
    background-color: #ccd6df;
    color: rgb(0, 0, 0);
    border: none;
}

.google-login:hover {
    background-color: #b1b8c5;
}