h1, h2 {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border: none;
    font-size: 1.25rem;
}

.banner img {
    height: auto;
    object-fit: cover;
}

.carousel-inner img {
    height: 500px;
    object-fit: contain;
}

/* Estilo para las flechas dentro de un botón circular */
.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.slick-prev:hover, .slick-next:hover {
    background-color: blue;
}

.slick-prev:before, .slick-next:before {
    font-size: 20px;
    color: white;
}

.slick-prev {
    left: -50px; /* Ajuste de la posición izquierda */
}

.slick-next {
    right: -50px; /* Ajuste de la posición derecha */
}

/* Separación entre productos */
.slick-slide {
    padding: 0 15px;
}

.card img {
    width: 100%; 
    height: 200px; /* Puedes ajustar esta altura según lo necesites */
    object-fit: contain; /* Esto se asegurará de que las imágenes mantengan su proporción y no se deformen */
}

.card {
    height: 100%; /* Asegura que todas las tarjetas tengan el mismo tamaño */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* En tu archivo CSS global, como custom.css */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;  /* Empuja el footer al final */
}